<h1>CART</h1>

{{#each cart}}
  <div
    style="flex: 0 0 calc(33.33% - 20px); margin-right: 20px; border: 1px solid #ccc; border-radius: 5px; padding: 10px; margin-bottom: 20px;"
  >
    <h2>{{this.prodId.title}}</h2>
    <p>Description: {{this.prodId.description}}</p>
    <p>Price: ${{this.prodId.price}}</p>
    <p>Stock: {{this.prodId.stock}}</p>
    <p>Quantity: {{this.quantity}}</p>
    <div>
      <button
        id="increaseQuanBtn"
        data-product-id="{{this.prodId._id}}"
        data-quantity="{{this.quantity}}"
      >+</button>
      <button
        id="decreaseQuanBtn"
        data-product-id="{{this.prodId._id}}"
                data-quantity="{{this.quantity}}"

      >-</button>
      <button
        id="deleteProdToCart"
        data-product-id="{{this.prodId._id}}"
      >Eliminar</button>
    </div>
  </div>
{{/each}}

{{#if purchaseAvailable}}
  <button id="purchaseBtn">Realizar compra</button>
{{else}}
  <p>No hay productos en el carrito</p>
{{/if}}

<script src="/js/purchase.js"></script>