<h1>Hola soy id:{{productId}}</h1>

<h2>{{product.title}}</h2>
<p>Description: {{product.description}}</p>
<p>Code: {{product.code}}</p>
<p>Price: {{product.price}}</p>
<p>Status: {{#if product.status}}Available{{else}}Not Available{{/if}}</p>
<p>Stock: {{product.stock}}</p>
<p>Category: {{product.category}}</p>