

<h2>{{product.title}}</h2>
<p>Description: {{product.description}}</p>
<p>Code: {{product.code}}</p>
<p>Price: {{product.price}}</p>
<p>Status: {{#if product.status}}true{{else}}false{{/if}}</p>
<p>Stock: {{product.stock}}</p>
<p>Category: {{product.category}}</p>

{{#if user}}
<button
id="addToCartBtn"
 data-product-id="{{product._id}}"
  style="background-color: #4CAF50; color: white; padding: 10px; border: none; border-radius: 5px; width: 100%; cursor:pointer; margin-top:10px"
>Agregar al carrito</button>
{{/if}}

<script src="/js/addProdToCart.js"></script>